$lightGray: #a7a7a7;
$gray: #535455;
$midGray: #7e8082;
$black: #2D2D2D;
$orange: #FCA003;
$bgGray: #e4e4e4;

body {
  direction: ltr;
  text-align: left;
}

.owl-carousel {
  direction: ltr;

}

#scroll-top {
  right: 15px;
  left: auto;
}


.mr-1, .mx-1 {
  margin-right: 0!important;
  margin-left: .25rem!important;
}

.mr-2, .mx-2 {
  margin-right: 0!important;;
  margin-left: .5rem!important;
}

.mr-3, .mx-3 {
  margin-right: 0!important;
  margin-left: 1rem!important;
}

.mr-4, .mx-4 {
  margin-right: 0!important;
  margin-left: 1.5rem!important;
}

.mr-md-2, .mx-md-2 {
  margin-right: 0!important;
  margin-left: .5rem!important;
}

.mr-sm-4, .mx-sm-4 {
  margin-right: 0!important;
  margin-left: 1.5rem!important;
}

.ml-3, .mx-3 {
  margin-right: 1rem!important;
  margin-left: 0!important;
}

form {
  .form-group {
    .form-control {
      text-align: left;
    }
  }
}



@media(max-width: 767px) {

}

@media(min-width: 768px) and (max-width: 991px) {
}

@media(min-width: 992px) and (max-width: 1199px) {

}

@media(min-width: 1200px){
}