/* start common style*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* colors */

$lightGray: #a7a7a7;
$gray: #535455;
$midGray: #7e8082;
$black: #2D2D2D;
$blue: #2D489C;
$babyBlue: #3e95b9;
$rose: #FF8BBC;

.babyRoseBg{
  background: #fef9fc;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray;
}


.pac-container{
  z-index: 2000 !important;
}

.h40{
  height: 40px !important;
}

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.modal {
  overflow-y: auto;
}

a, button {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

form {

  .form-group {
    margin-bottom: 40px;
    position: relative;
    width: 100%;

    label {
      color: #e4e2e2;
      font-size: 16px;
      margin-bottom: 0;
    }

    .form-control {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 50px;
      outline: none;
      color: #fff;
      font-size: 17px;
      background: none;
      border: none;
      padding: 0 0 0 25px;

      &:focus {
        outline: none;
        box-shadow: none;
        border: 0;

        ~ .inputBorder::after,~ .inputBorder::before {
          width: 50%;
        }

      }
    }

    .inputBorder {
      position: absolute;
      height: 1px;
      background-color: #fff;
      left: 0;
      bottom: 0;
      width: 100%;

      &::after, &::before,{
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        background-color: $rose;
      }

      &::after {
        right: 50%;
      }
      &::before {
        left: 50%;
      }

    }

  }

  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), .bootstrap-select > .dropdown-toggle {
    height: 50px;
    border-radius: 0;

    > .dropdown-toggle.bs-placeholder, > .dropdown-toggle.bs-placeholder:active, > .dropdown-toggle.bs-placeholder:focus,
    > .dropdown-toggle.bs-placeholder:hover {
      border-radius: 0;
    }

  }

}

textarea{
  resize: none;
  height: auto !important;
}

:placeholder-shown::-webkit-input-placeholder {
  opacity: 1;
  color: $lightGray;
}

.modal-content {
  border-radius: 0;
  padding: 5px 15px;
}

.owl-carousel {
  direction: ltr;
}

.customHr {
  width: 100%;
  margin: 35px 0;
  border: 1px solid #f3f3f3;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

p {
  margin-bottom: 0;
}

.toggleOpacity {
  opacity: 1 !important;
}

.mr-18 {
  margin-right: 18px;
}

.mr-27 {
  margin-right: 27px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.roseBtn {
  background-color: $rose;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  padding: 5px 0;
  width: 165px;
  justify-content: center;
  font-size: 16px;
  border-radius: 7px;
  height: 45px;
  margin-bottom: 25px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow:    0 0 14px 0 rgba(255, 255, 255, 0.25);
  box-shadow:         0 0 14px 0 rgba(255, 255, 255, 0.25);

  &:hover {
    border-color: $rose;
    background-color: #fff;
    color: $rose;
  }

  &.whiteBtn{
    background: #fff;
    color: $babyBlue;
    &:hover {
      border-color: #fff;
      background-color: $babyBlue;
      color: #fff;
    }
  }
}


.mainTitle{
  color:$blue;
  font-weight: bold;
  font-size: 22px;
  img{
    width: 40px;
    position: relative;
    top: -10px;
    right: -5px;
  }
}

.mainP{
  color: $midGray;
  font-size: 16px;
  width: 60%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 50px;
}

/* end common style*/

/* start loader */

.layer-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end loader */

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  text-align: right;
  overflow: hidden;

}

/////////////

/*start auth form */
.authForm{
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;

  .authImg{
    width: 50%;
  }

  form{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: $blue;
    padding: 80px;
    justify-content: center;
    align-items: center;

    .logo{
      width: 115px;
      margin-bottom: 35px;
    }

    .form-group{
      .fa-check{
        opacity: 0;
        color: $rose;
        position: absolute;
        left: 0;
        bottom: 16px;
        transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
      }
    }

    h5{
      color: #fff;
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p{
      color: #fff;
      font-size: 14px;
      text-align: center;
      line-height: 2;
      margin-bottom: 30px;
      width: 60%;
    }

    .forget , .createAcc{
      font-weight: bold;
      margin-bottom: 35px;
      color: #fff;
      font-size: 16px;

      span{
        color: $rose;
        margin-right: 7px;
      }
    }

    .animateBtn{
      position: relative;
      display: inline-block;
      width: 165px;
      height: 45px;
      color: $rose;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      background: transparent;
      border: 0;
      margin-bottom: 25px;


      &:hover {
        background: $rose;
        color: #fff;
        border-radius: 7px;
        -webkit-box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.25);
        -moz-box-shadow:    0 0 14px 0 rgba(255, 255, 255, 0.25);
        box-shadow:         0 0 14px 0 rgba(255, 255, 255, 0.25);
      }

      span {
        position: absolute;
        display: block;

        &:nth-child(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, $rose);
          animation: btn-anim1 1s linear infinite;
        }

        @keyframes btn-anim1 {
          0% {
            left: -100%;
          }
          50%,100% {
            left: 100%;
          }
        }

        &:nth-child(2) {
          top: -100%;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, transparent, $rose);
          animation: btn-anim2 1s linear infinite;
          animation-delay: .25s;
        }

        @keyframes btn-anim2 {
          0%{
            top: -100%;
          }
          50%,100% {
            top: 100%;
          }
        }

        &:nth-child(3){
          bottom: 0;
          tight: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(270deg, transparent, $rose);
          animation: btn-anim3 1s linear infinite;
          animation-delay: .5s;
        }

        @keyframes btn-anim3 {
          0%{
            right: -100%;
          }
          50%,100% {
            right: 100%;
          }
        }

        &:nth-child(4) {
          bottom: -100%;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(360deg, transparent, $rose);
          animation: btn-anim4 1s linear infinite;
          animation-dealy: .75s;
        }

        @keyframes btn-anim4 {
          0% {
            bottom: -100%;
          }
          50%,100% {
            bottom: 100%;
          }
        }



      }
    }

  }

}
/*end auth form */

/* Start Header */

header {
  padding: 0;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 2;
  height: 100px;
  overflow: hidden;
  display: flex;
  top: 0;
  align-items: center;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);



  .overlay {
    position: fixed;
    background-color: rgba(00, 00, 00, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
    transition: all .3s ease-in-out;
    transform: scaleX(0);
    right: 0;
    left: 0;
    transform-origin: right;
  }

  .toggle {
    display: none;

    .fa {
      cursor: pointer;
      font-size: 25px;
    }

  }

  .menu{
    justify-content: space-between;

    img.logo {
      width: 115px;
    }

    .menuLinks {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-right: 45px;

      li {
        margin-right: 25px;

        &.active a {
          color: $blue;

          &:before {
            position: absolute;
            content: '';
            height: 3px;
            background: $blue;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
          }
        }

        a {
          position: relative;
          padding: 15px 0 0;
          font-size: 17px;
          text-transform: capitalize;
          color: $black;
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          font-weight: bold;

          &:before {
            position: absolute;
            content: '';
            height: 3px;
            background: $blue;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0px;
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
          }

          &:hover:before {
            width: 100%;
          }

          &:hover {
            //font-weight: bold;
            color: $blue;
          }

        }

      }
    }

    .fav{
      color: $black;
      font-size: 17px;
      position: relative;
      font-weight: bold;
      i{
        margin-left: 10px;
        font-size: 20px;
      }

      &:after {
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        background: #ea5a5b;
        border-radius: 50%;
        top: 4px;
        right: -1px;
      }
    }

    .profile{
      color: $black;
      font-size: 17px;
      font-weight: bold;
      margin-right: 25px;
      img{
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $rose;
      }
    }

    .lang{
      color: $rose;
      font-size: 17px;
      font-weight: bold;
      margin-right: 25px;
      img{
        margin-right: 10px;
        width: 20px;
      }
    }

  }

}

/* end header */


/* start owl slider */

#owl-demo {
  margin: 100px 0 0;

  .item{
    position: relative;
    height: calc(100vh - 100px);

    &:after{
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: #2e489c85;
      z-index: -1;
    }

    .coverImg {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .content{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      justify-content: center;

      img{
        width: 140px;
      }

      p{
        color: #fff;
        font-size: 17px;
        width: 40%;
        font-weight: bold;
        line-height: 2;
        height: 105px;
        overflow: hidden;
      }

    }
  }

  .owl-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateZ(90deg);
    left: 75px;

    .owl-dot {
      width: 15px;
      height: 10px;
      background: #ffffff73;
      display: inline-block;
      margin: 0 1px;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      border-radius: 7px;

      &.active {
        width: 35px;
        height: 10px;
        background: #fff;
        position: relative;
        top:0;
      }
    }

  }
}
/* end owl slider */

/* start introImg */
.introImg{
  background: url(../img/authBg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  position: relative;
  height: 200px;

  img{
    width: 140px;
    position: relative;
    z-index: 1;
  }

  &:after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #2e489c85;
  }

}
/* end introImg */

/* start homeModals */
.homeModals{
  position: relative;
  top: -50px;
  z-index: 1;

  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    a{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $midGray;
      background: #fff;
      flex: .31;
      border-radius: 10px;
      height: 95px;
      font-size: 17px;
      padding: 0 25px;
      -webkit-box-shadow: 0 8px 9px 0 rgba(50, 50, 50, 0.18);
      -moz-box-shadow:    0 8px 9px 0 rgba(50, 50, 50, 0.18);
      -o-box-shadow:      0 8px 9px 0 rgba(50, 50, 50, 0.18);
      box-shadow:         0 8px 9px 0 rgba(50, 50, 50, 0.18);

      .fa-map-marker-alt{
        color: $rose;
      }

      .fa-chevron-down{
        color: $midGray;
      }
    }

  }

}

.modal{

  .modal-dialog{
    max-width: 60%;
    .modal-content{
      border: 0;
      .modal-header{
        background: $blue;
        border-radius: 0;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        h5{
          color: #fff;
          font-size: 25px;
          font-weight: bold;
        }
        .closeModal{
          color: #fff;
          position: absolute;
          left: 24px;
          top: 20px;
          i{
            font-size: 23px;
          }
        }
      }
      .modal-body{
        #map {
          height: 500px;
          width: 100%;
        }
        .absoluteBtn {
          position: absolute;
          bottom: 40px;
          left: 0;
          right: 0;
          margin: auto;
        }

        .custom-radio , .custom-checkbox{
          border-bottom: 1px solid #ddd;
          padding-bottom: 25px;
          margin-bottom: 25px;
          padding-left: 0;
          padding-right: 1.5rem;

          .custom-control-input{
            &:checked{
              ~.custom-control-label{
                &::after {
                  background-image: url("../img/tick.svg");
                }
                &::before {
                  border-color: $rose;
                }
              }
            }
          }

          .custom-control-label{
            &::before {
              right: -1.5rem;
              border-color: #adb5bd;
              background-color: #fff;
              border-radius: 4px;
            }
            &::after {
              right: -1.5rem;
            }
          }

        }

      }
    }
  }

}
/* end homeModals */

/* start about Site */

.aboutSite{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 60px;

  .shapeMsg{

    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
      width: 450px;
    }
    .msgBlock{
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 7px;
      margin-right: 20px;
      padding: 40px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
      -webkit-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
      -moz-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
      -o-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);

      h4{
        color: $black;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      p{
        color: $midGray;
        margin-bottom: 15px;
        line-height: 2;
        font-size: 16px;
      }
    }

  }

}

/* end about Site */

/* start providers */

.providers{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  margin-bottom: 60px;

  .providersBlock{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .provider{
      width: 22.5%;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      height: 300px;
      margin-bottom: 30px;
      display: flex;
      align-items: flex-end;
      box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
      -webkit-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
      -moz-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
      -o-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);

      &:after {
        position: absolute;
        content: '';
        background: #00000078;
        top: 0;
        height: 100%;
        width: 100%;
      }


      img{
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        top: 0;
      }

      .provInfo{

        position: relative;
        color: #fff;
        z-index: 1;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .info{
          display: flex;
          flex-direction: column;
          justify-content: center;

          h4{
            font-size: 18px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 145px;
            color: #fff;
          }

          h5{
            color: #ffffffb5;
            font-size: 15px;
          }
        }

        .rate{
          color: #f6b933;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 17px;
          i{
            margin-bottom: 3px;
          }
        }

      }
    }

  }

  .more {
    background: transparent;
    border-color: $blue !important;
    color: $blue !important;
    height: 50px;
    margin: 20px auto 10px;
    border-radius: 0;
    justify-content: center;
    display: flex;
    align-items: center;

    &:hover{
      color: #fff !important;
    }

    &.hvr-shutter-in-vertical{
      background: $blue !important;
      &:before{
        background: #fef9fc;
      }
    }
  }

}

/* end providers */

/* start contactUs */

.contactUs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;

  form {
    width: 65%;
    display: flex;
    flex-direction: column;
    .form-group {
      flex: .48;
      .form-control {
        border: 2px solid #ccc;
        padding: 0 25px;
        color:$midGray;

        &#msg{
          padding: 20px 25px;
        }
      }
    }

    .roseBtn {
      background-color: $blue;
      margin: 0 auto;
      &:hover{
        background-color: #fff;
        color: $blue;
        border-color: $blue;
      }
    }

  }

}

/* end contactUs */

/* start location*/
#location{
  width: 100%;
  height: 500px;
}
/* end location*/

/* start footer */
footer{
  background-color: $blue;
  position: relative;
  .iconShape{
    position: absolute;
    height: 100%;
  }
  .topFooter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2e489c;
    padding: 80px 0;

    h5{
      color: $rose;
      font-size: 20px;
      position: relative;
      margin-bottom: 20px;
      font-weight: bold;
    }

    .logo{
      width: 125px;
      position: relative;
    }

    ul{
      position: relative;
      li{
        color: #fff;
        margin-bottom: 10px;
        font-weight: bold;
        a{
          color: #fff;
          &:hover{
            color: $rose;
          }
        }
      }

      &.social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
          margin: 0;

          a {
            border-radius: 50%;
            color: #fff;
            border: 2px dashed #fff;
            width: 35px;
            height: 35px;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            &:hover{
              transform: rotate(360deg);
              color: $rose;
            }
          }
        }
      }
    }

    p{
      margin-bottom: 20px;
      color: #fff;
      font-weight: bold;
    }

  }
  .bottomFooter{
    background-color: #183385;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      color: #fff;
      margin-right: 5px;
    }
  }
}
/* end footer */


/*start scroll top */
#scroll-top {
  width: 40px;
  height: 40px;
  line-height: 37px;
  color: #fff;
  background-color: $rose;
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border: 2px solid transparent;
  left: 15px;

  &:hover {
    background-color: #FFF;
    color: $rose;
    border: 2px solid $rose
  }
}

/*end scroll-top*/


/* Start Media Query */


@media(max-width: 767px) {

  form {
    .form-group {
      margin-bottom: 30px;
      label {
        margin-bottom: 15px;
        font-size: 14px;
      }

      .form-control {
        height: 45px;
        padding: 10px 10px;
        font-size: 13px;
      }
    }
  }

  header {
    height: 70px;
    .menuBar {

      .logo{
        width: 80px;
      }

      .toggle {
        display: block;
        color: $blue;
        font-size: 30px;
        text-align: right;
        justify-content: space-between;
      }

      a {
        color: $black;

        &.cart {
          margin-right: 10px;
        }
      }
    }

    .menu {
      margin: 0;
      padding: 15px;
      background-color: $blue;
      position: fixed;
      width: 260px;
      height: 100%;
      top: 0;
      transform: scaleX(1);
      transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      text-align: right;
      right: -100%;
      transform-origin: right;
      border-radius: 0;
      display: block !important;
      overflow: auto;

      &.ulDir {
        right: 0
      }


      .user {
        display: flex;
        align-items: center;
        color: #fff;
        //justify-content: space-between;
        margin-bottom: 15px;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 15px;

        img {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          margin-left: 20px;
          box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
          -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
          -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
          -o-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
        }

        p {
          font-size: 15px;
        }

      }

      .menuLinks {
        align-items: flex-start;
        margin: 15px 0;
        flex-direction: column;

        li {
          margin: 0 5px 15px;
          a {
            font-size: 15px;
            color: #fff;
          }

          &.active {
            a {
              color: $rose;

              &:before {
                content: none;
              }
            }
          }

        }

      }

      .fav {
        color: #fff;
        font-size: 15px;
        margin: 0 5px 25px;
      }

      .lang {
        color: #fff;
        font-size: 15px;
        margin-right: 5px;
      }

    }

  }


}

/*Small Screen*/

@media(min-width: 768px) and (max-width: 991px) {

}

/*Medium Screen*/

@media(min-width: 992px) and (max-width: 1199px) {
}

@media(min-width: 1200px){
}



/*Larger Screen*/


/* End Media Query */
