/* start common style*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* colors */
.babyRoseBg {
  background: #fef9fc;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #535455;
}

.pac-container {
  z-index: 2000 !important;
}

.h40 {
  height: 40px !important;
}

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.modal {
  overflow-y: auto;
}

a, button {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

form .form-group {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
form .form-group label {
  color: #e4e2e2;
  font-size: 16px;
  margin-bottom: 0;
}
form .form-group .form-control {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50px;
  outline: none;
  color: #fff;
  font-size: 17px;
  background: none;
  border: none;
  padding: 0 0 0 25px;
}
form .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
form .form-group .form-control:focus ~ .inputBorder::after, form .form-group .form-control:focus ~ .inputBorder::before {
  width: 50%;
}
form .form-group .inputBorder {
  position: absolute;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
}
form .form-group .inputBorder::after, form .form-group .inputBorder::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #FF8BBC;
}
form .form-group .inputBorder::after {
  right: 50%;
}
form .form-group .inputBorder::before {
  left: 50%;
}
form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), form .bootstrap-select > .dropdown-toggle {
  height: 50px;
  border-radius: 0;
}
form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder, form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:active, form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:focus,
form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:hover, form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder, form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:active, form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:focus,
form .bootstrap-select > .dropdown-toggle > .dropdown-toggle.bs-placeholder:hover {
  border-radius: 0;
}

textarea {
  resize: none;
  height: auto !important;
}

:placeholder-shown::-webkit-input-placeholder {
  opacity: 1;
  color: #a7a7a7;
}

.modal-content {
  border-radius: 0;
  padding: 5px 15px;
}

.owl-carousel {
  direction: ltr;
}

.customHr {
  width: 100%;
  margin: 35px 0;
  border: 1px solid #f3f3f3;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

p {
  margin-bottom: 0;
}

.toggleOpacity {
  opacity: 1 !important;
}

.mr-18 {
  margin-right: 18px;
}

.mr-27 {
  margin-right: 27px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.roseBtn {
  background-color: #FF8BBC;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  padding: 5px 0;
  width: 165px;
  justify-content: center;
  font-size: 16px;
  border-radius: 7px;
  height: 45px;
  margin-bottom: 25px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.25);
}
.roseBtn:hover {
  border-color: #FF8BBC;
  background-color: #fff;
  color: #FF8BBC;
}
.roseBtn.whiteBtn {
  background: #fff;
  color: #3e95b9;
}
.roseBtn.whiteBtn:hover {
  border-color: #fff;
  background-color: #3e95b9;
  color: #fff;
}

.mainTitle {
  color: #2D489C;
  font-weight: bold;
  font-size: 22px;
}
.mainTitle img {
  width: 40px;
  position: relative;
  top: -10px;
  right: -5px;
}

.mainP {
  color: #7e8082;
  font-size: 16px;
  width: 60%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 50px;
}

/* end common style*/
/* start loader */
.layer-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layer-preloader img {
  width: 200px;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end loader */
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  direction: rtl;
  text-align: right;
  overflow: hidden;
}

/*start auth form */
.authForm {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
}
.authForm .authImg {
  width: 50%;
}
.authForm form {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #2D489C;
  padding: 80px;
  justify-content: center;
  align-items: center;
}
.authForm form .logo {
  width: 115px;
  margin-bottom: 35px;
}
.authForm form .form-group .fa-check {
  opacity: 0;
  color: #FF8BBC;
  position: absolute;
  left: 0;
  bottom: 16px;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.authForm form h5 {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}
.authForm form p {
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 2;
  margin-bottom: 30px;
  width: 60%;
}
.authForm form .forget, .authForm form .createAcc {
  font-weight: bold;
  margin-bottom: 35px;
  color: #fff;
  font-size: 16px;
}
.authForm form .forget span, .authForm form .createAcc span {
  color: #FF8BBC;
  margin-right: 7px;
}
.authForm form .animateBtn {
  position: relative;
  display: inline-block;
  width: 165px;
  height: 45px;
  color: #FF8BBC;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  background: transparent;
  border: 0;
  margin-bottom: 25px;
}
.authForm form .animateBtn:hover {
  background: #FF8BBC;
  color: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.25);
}
.authForm form .animateBtn span {
  position: absolute;
  display: block;
}
.authForm form .animateBtn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #FF8BBC);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.authForm form .animateBtn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #FF8BBC);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.authForm form .animateBtn span:nth-child(3) {
  bottom: 0;
  tight: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #FF8BBC);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.authForm form .animateBtn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #FF8BBC);
  animation: btn-anim4 1s linear infinite;
  animation-dealy: 0.75s;
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

/*end auth form */
/* Start Header */
header {
  padding: 0;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 2;
  height: 100px;
  overflow: hidden;
  display: flex;
  top: 0;
  align-items: center;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
}
header .overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  margin: auto;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  right: 0;
  left: 0;
  transform-origin: right;
}
header .toggle {
  display: none;
}
header .toggle .fa {
  cursor: pointer;
  font-size: 25px;
}
header .menu {
  justify-content: space-between;
}
header .menu img.logo {
  width: 115px;
}
header .menu .menuLinks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 45px;
}
header .menu .menuLinks li {
  margin-right: 25px;
}
header .menu .menuLinks li.active a {
  color: #2D489C;
}
header .menu .menuLinks li.active a:before {
  position: absolute;
  content: "";
  height: 3px;
  background: #2D489C;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
header .menu .menuLinks li a {
  position: relative;
  padding: 15px 0 0;
  font-size: 17px;
  text-transform: capitalize;
  color: #2D2D2D;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  font-weight: bold;
}
header .menu .menuLinks li a:before {
  position: absolute;
  content: "";
  height: 3px;
  background: #2D489C;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
header .menu .menuLinks li a:hover:before {
  width: 100%;
}
header .menu .menuLinks li a:hover {
  color: #2D489C;
}
header .menu .fav {
  color: #2D2D2D;
  font-size: 17px;
  position: relative;
  font-weight: bold;
}
header .menu .fav i {
  margin-left: 10px;
  font-size: 20px;
}
header .menu .fav:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #ea5a5b;
  border-radius: 50%;
  top: 4px;
  right: -1px;
}
header .menu .profile {
  color: #2D2D2D;
  font-size: 17px;
  font-weight: bold;
  margin-right: 25px;
}
header .menu .profile img {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FF8BBC;
}
header .menu .lang {
  color: #FF8BBC;
  font-size: 17px;
  font-weight: bold;
  margin-right: 25px;
}
header .menu .lang img {
  margin-right: 10px;
  width: 20px;
}

/* end header */
/* start owl slider */
#owl-demo {
  margin: 100px 0 0;
}
#owl-demo .item {
  position: relative;
  height: calc(100vh - 100px);
}
#owl-demo .item:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #2e489c85;
  z-index: -1;
}
#owl-demo .item .coverImg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#owl-demo .item .content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: center;
}
#owl-demo .item .content img {
  width: 140px;
}
#owl-demo .item .content p {
  color: #fff;
  font-size: 17px;
  width: 40%;
  font-weight: bold;
  line-height: 2;
  height: 105px;
  overflow: hidden;
}
#owl-demo .owl-dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotateZ(90deg);
  left: 75px;
}
#owl-demo .owl-dots .owl-dot {
  width: 15px;
  height: 10px;
  background: #ffffff73;
  display: inline-block;
  margin: 0 1px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  border-radius: 7px;
}
#owl-demo .owl-dots .owl-dot.active {
  width: 35px;
  height: 10px;
  background: #fff;
  position: relative;
  top: 0;
}

/* end owl slider */
/* start introImg */
.introImg {
  background: url(../img/authBg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  position: relative;
  height: 200px;
}
.introImg img {
  width: 140px;
  position: relative;
  z-index: 1;
}
.introImg:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #2e489c85;
}

/* end introImg */
/* start homeModals */
.homeModals {
  position: relative;
  top: -50px;
  z-index: 1;
}
.homeModals .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.homeModals .content a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7e8082;
  background: #fff;
  flex: 0.31;
  border-radius: 10px;
  height: 95px;
  font-size: 17px;
  padding: 0 25px;
  -webkit-box-shadow: 0 8px 9px 0 rgba(50, 50, 50, 0.18);
  -moz-box-shadow: 0 8px 9px 0 rgba(50, 50, 50, 0.18);
  -o-box-shadow: 0 8px 9px 0 rgba(50, 50, 50, 0.18);
  box-shadow: 0 8px 9px 0 rgba(50, 50, 50, 0.18);
}
.homeModals .content a .fa-map-marker-alt {
  color: #FF8BBC;
}
.homeModals .content a .fa-chevron-down {
  color: #7e8082;
}

.modal .modal-dialog {
  max-width: 60%;
}
.modal .modal-dialog .modal-content {
  border: 0;
}
.modal .modal-dialog .modal-content .modal-header {
  background: #2D489C;
  border-radius: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-dialog .modal-content .modal-header h5 {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.modal .modal-dialog .modal-content .modal-header .closeModal {
  color: #fff;
  position: absolute;
  left: 24px;
  top: 20px;
}
.modal .modal-dialog .modal-content .modal-header .closeModal i {
  font-size: 23px;
}
.modal .modal-dialog .modal-content .modal-body #map {
  height: 500px;
  width: 100%;
}
.modal .modal-dialog .modal-content .modal-body .absoluteBtn {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}
.modal .modal-dialog .modal-content .modal-body .custom-radio, .modal .modal-dialog .modal-content .modal-body .custom-checkbox {
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
  margin-bottom: 25px;
  padding-left: 0;
  padding-right: 1.5rem;
}
.modal .modal-dialog .modal-content .modal-body .custom-radio .custom-control-input:checked ~ .custom-control-label::after, .modal .modal-dialog .modal-content .modal-body .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("../img/tick.svg");
}
.modal .modal-dialog .modal-content .modal-body .custom-radio .custom-control-input:checked ~ .custom-control-label::before, .modal .modal-dialog .modal-content .modal-body .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #FF8BBC;
}
.modal .modal-dialog .modal-content .modal-body .custom-radio .custom-control-label::before, .modal .modal-dialog .modal-content .modal-body .custom-checkbox .custom-control-label::before {
  right: -1.5rem;
  border-color: #adb5bd;
  background-color: #fff;
  border-radius: 4px;
}
.modal .modal-dialog .modal-content .modal-body .custom-radio .custom-control-label::after, .modal .modal-dialog .modal-content .modal-body .custom-checkbox .custom-control-label::after {
  right: -1.5rem;
}

/* end homeModals */
/* start about Site */
.aboutSite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 60px;
}
.aboutSite .shapeMsg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutSite .shapeMsg img {
  width: 450px;
}
.aboutSite .shapeMsg .msgBlock {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-right: 20px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
  -webkit-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
  -o-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
}
.aboutSite .shapeMsg .msgBlock h4 {
  color: #2D2D2D;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.aboutSite .shapeMsg .msgBlock p {
  color: #7e8082;
  margin-bottom: 15px;
  line-height: 2;
  font-size: 16px;
}

/* end about Site */
/* start providers */
.providers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  margin-bottom: 60px;
}
.providers .providersBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.providers .providersBlock .provider {
  width: 22.5%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 300px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
  -webkit-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
  -o-box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.15);
}
.providers .providersBlock .provider:after {
  position: absolute;
  content: "";
  background: #00000078;
  top: 0;
  height: 100%;
  width: 100%;
}
.providers .providersBlock .provider img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
}
.providers .providersBlock .provider .provInfo {
  position: relative;
  color: #fff;
  z-index: 1;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.providers .providersBlock .provider .provInfo .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.providers .providersBlock .provider .provInfo .info h4 {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 145px;
  color: #fff;
}
.providers .providersBlock .provider .provInfo .info h5 {
  color: #ffffffb5;
  font-size: 15px;
}
.providers .providersBlock .provider .provInfo .rate {
  color: #f6b933;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
.providers .providersBlock .provider .provInfo .rate i {
  margin-bottom: 3px;
}
.providers .more {
  background: transparent;
  border-color: #2D489C !important;
  color: #2D489C !important;
  height: 50px;
  margin: 20px auto 10px;
  border-radius: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}
.providers .more:hover {
  color: #fff !important;
}
.providers .more.hvr-shutter-in-vertical {
  background: #2D489C !important;
}
.providers .more.hvr-shutter-in-vertical:before {
  background: #fef9fc;
}

/* end providers */
/* start contactUs */
.contactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}
.contactUs form {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.contactUs form .form-group {
  flex: 0.48;
}
.contactUs form .form-group .form-control {
  border: 2px solid #ccc;
  padding: 0 25px;
  color: #7e8082;
}
.contactUs form .form-group .form-control#msg {
  padding: 20px 25px;
}
.contactUs form .roseBtn {
  background-color: #2D489C;
  margin: 0 auto;
}
.contactUs form .roseBtn:hover {
  background-color: #fff;
  color: #2D489C;
  border-color: #2D489C;
}

/* end contactUs */
/* start location*/
#location {
  width: 100%;
  height: 500px;
}

/* end location*/
/* start footer */
footer {
  background-color: #2D489C;
  position: relative;
}
footer .iconShape {
  position: absolute;
  height: 100%;
}
footer .topFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #2e489c;
  padding: 80px 0;
}
footer .topFooter h5 {
  color: #FF8BBC;
  font-size: 20px;
  position: relative;
  margin-bottom: 20px;
  font-weight: bold;
}
footer .topFooter .logo {
  width: 125px;
  position: relative;
}
footer .topFooter ul {
  position: relative;
}
footer .topFooter ul li {
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}
footer .topFooter ul li a {
  color: #fff;
}
footer .topFooter ul li a:hover {
  color: #FF8BBC;
}
footer .topFooter ul.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .topFooter ul.social li {
  margin: 0;
}
footer .topFooter ul.social li a {
  border-radius: 50%;
  color: #fff;
  border: 2px dashed #fff;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
footer .topFooter ul.social li a:hover {
  transform: rotate(360deg);
  color: #FF8BBC;
}
footer .topFooter p {
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
}
footer .bottomFooter {
  background-color: #183385;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .bottomFooter a {
  color: #fff;
  margin-right: 5px;
}

/* end footer */
/*start scroll top */
#scroll-top {
  width: 40px;
  height: 40px;
  line-height: 37px;
  color: #fff;
  background-color: #FF8BBC;
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border: 2px solid transparent;
  left: 15px;
}
#scroll-top:hover {
  background-color: #FFF;
  color: #FF8BBC;
  border: 2px solid #FF8BBC;
}

/*end scroll-top*/
/* Start Media Query */
@media (max-width: 767px) {
  form .form-group {
    margin-bottom: 30px;
  }
  form .form-group label {
    margin-bottom: 15px;
    font-size: 14px;
  }
  form .form-group .form-control {
    height: 45px;
    padding: 10px 10px;
    font-size: 13px;
  }

  header {
    height: 70px;
  }
  header .menuBar .logo {
    width: 80px;
  }
  header .menuBar .toggle {
    display: block;
    color: #2D489C;
    font-size: 30px;
    text-align: right;
    justify-content: space-between;
  }
  header .menuBar a {
    color: #2D2D2D;
  }
  header .menuBar a.cart {
    margin-right: 10px;
  }
  header .menu {
    margin: 0;
    padding: 15px;
    background-color: #2D489C;
    position: fixed;
    width: 260px;
    height: 100%;
    top: 0;
    transform: scaleX(1);
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    text-align: right;
    right: -100%;
    transform-origin: right;
    border-radius: 0;
    display: block !important;
    overflow: auto;
  }
  header .menu.ulDir {
    right: 0;
  }
  header .menu .user {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 15px;
  }
  header .menu .user img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
    -o-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
  }
  header .menu .user p {
    font-size: 15px;
  }
  header .menu .menuLinks {
    align-items: flex-start;
    margin: 15px 0;
    flex-direction: column;
  }
  header .menu .menuLinks li {
    margin: 0 5px 15px;
  }
  header .menu .menuLinks li a {
    font-size: 15px;
    color: #fff;
  }
  header .menu .menuLinks li.active a {
    color: #FF8BBC;
  }
  header .menu .menuLinks li.active a:before {
    content: none;
  }
  header .menu .fav {
    color: #fff;
    font-size: 15px;
    margin: 0 5px 25px;
  }
  header .menu .lang {
    color: #fff;
    font-size: 15px;
    margin-right: 5px;
  }
}
/*Small Screen*/
/*Medium Screen*/
/*Larger Screen*/
/* End Media Query */

/*# sourceMappingURL=style.css.map */
